<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>
<br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="/registration">
                <button class="form-control btn btn-info" type="submit">Registrace</button>
            </form>
            <br>
            <form action="/manage/home">
                <button class="form-control btn btn-info" type="submit">Přihlášení</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>