<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin/fragments/layout}">
<head>
    <title>Admin</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Edit
        <small th:text="${page.title}"></small>
    </h1>

    <div class="modal fade" id="togglesModal" role="dialog">
        <div class="modal-dialog">
            <form th:action="@{/manage/page/page-edit/add-tog}" th:object="${page}" accept-charset="UTF-8" method="post"
                  enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Toggles</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table>
                                <tr>
                                    <td><label for="togglesTitle">Title</label></td>
                                    <td><input id="togglesTitle" name="title"></td>
                                </tr>
                                <tr>
                                    <td><label for="togglesContent">Content</label></td>
                                    <td><input id="togglesContent" name="content"></td>
                                </tr>
                                <tr>
                                    <td>Image:</td>
                                    <td><input type="file" name="togglesImage"/></td>
                                </tr>
                            </table>
                            <input id="togglesId" name="togglesId" th:type="hidden">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <form th:action="@{/manage/page/page-edit}" th:object="${page}" accept-charset="UTF-8" method="post"
          enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-8">
                <label for="page_title">Title</label>
                <input class="form-control" type="text" id="page_title" th:field="${page.title}">
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <label for="render_contact">
                        <input type="checkbox" value="1" checked="checked" id="render_contact"
                               th:field="${page.renderContactForm}">
                        Render contact form
                    </label>
                </div>
                <div class="checkbox">
                    <label for="render_attachment">
                        <input type="checkbox" value="0" id="render_attachment" th:field="${page.renderAttachment}">
                        Render attachment
                    </label>
                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#context" aria-controls="context" role="tab" data-toggle="tab">Context</a></li>
            <li><a href="#prefix" aria-controls="prefix" role="tab" data-toggle="tab">Prefix</a></li>
            <li><a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Attachments</a></li>
            <li><a href="#toggles" aria-controls="toggles" role="tab" data-toggle="tab">Toggles</a></li>
            <li><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
            <li><a href="#meta" aria-controls="meta" role="tab" data-toggle="tab">Meta</a></li>
        </ul>
        <!-- Содержимое вкладок -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="context">
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="contextSummernote" class="summernote" rows="6"
                                  th:field="${page.context}"></textarea>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="prefix">
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>Image:</td>
                                <div th:if="${page.image}">
                                    <img id="preview_page_image1" class="img-thumbnail preview_image"
                                         th:src="'data:image/jpeg;base64,' + ${imgVis}" style="display: inline;">
                                    <button type="submit" class="btn btn-danger"
                                            th:onclick="'btnRemImage(\'' + ${page} + '\');'">
                                        <span aria-hidden="" class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                                <td><input type="file" name="imageFile"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="attachments">
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>Attachment:</td>
                                <div th:if="${page.attachment}">
                                    <a th:href="'/manage/page/page-edit/download/' + ${page.id}"
                                       th:text="${page.attachmentName}"></a>
                                    <button type="submit" class="btn btn-danger"
                                            th:onclick="'btnRemAtt(\'' + ${page} + '\');'">
                                        <span aria-hidden="" class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                                <td><input type="file" name="attFile"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="toggles">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10">
                                <div th:if="${#lists.isEmpty(page.toggles)}" class="alert alert-info" role="alert">Empty
                                    list of toggles.
                                </div>
                                <div th:if="${not #lists.isEmpty(page.toggles)}">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr th:each="tog,stat : ${page.toggles}" class="toggles">
                                            <td>
                                                <div class="alert alert-info alertTitle" role="alert">
                                                    <span th:text="${tog.title}"></span>
                                                </div>
                                            </td>
                                            <td class="action">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#togglesModal"
                                                        th:onclick="'btnEditTog(\''
                                                        + ${page.toggles[stat.index].title} + '\', \''
                                                        + ${page.toggles[stat.index].content} + '\', \''
                                                        + ${page.toggles[stat.index].id} + '\');'">
                                                    <span aria-hidden="" class="glyphicon glyphicon-edit"></span>
                                                </button>

                                                <button type="submit" class="btn btn-danger"
                                                        th:onclick="'btnRemTog(\'' + ${page} + '\', \'' + ${stat.index} + '\');'">
                                                    <span aria-hidden="" class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-primary btn-lg btn-block btn-add-toggle"
                                   data-toggle="modal" data-target="#togglesModal"
                                   onclick="btnAddTog()">+</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="comments">
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="commentsSummernote" class="summernote" rows="6"
                                  th:field="${page.comments}"></textarea>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="meta">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="page_meta_title">Meta Title</label>
                            <input class="form-control" type="text" value="" id="page_meta_title"
                                   th:field="${page.metaTitle}">
                        </div>
                        <div class="form-group">
                            <label for="page_meta_keywords">Meta Keywords</label>
                            <textarea class="form-control" rows="5" id="page_meta_keywords"
                                      th:field="${page.metaKeywords}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="page_meta_description">Meta Description</label>
                            <textarea class="form-control" rows="5" id="page_meta_description"
                                      th:field="${page.metaDescription}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-warning">
            </div>
        </div>
    </form>
</div>
</body>
</html>