<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jstree/3.3.7/themes/default/style.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.manage.css}"/>

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Plastic Surgery ISCARE Prague</title>
</head>
<body>

<th:block layout:fragment="content"/>

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:inline="javascript" th:src="@{/js/main.js}"></script>
</body>
</html>